

<h1 id="indextitle">Shelter Blog</h2>
	<p class="aboutus">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	</p>



<h2 id="log">Log In</h2>

<div id="loginin">
<form method="POST" action="/">
	<label for="username">Username</label>
	<input type="text" name="username"
	placeholder="Username">
	<label for="password">Password</label>
	<input type="password" name="password"
	placeholder="Password">
	<input type="submit" value="Sign In">
</form>
</div>


 <h2 id="sign">Sign Up</h2>

 <div id="signup">
	<form method="POST" action="/profile">
		<label for="name">Create Username</label>
	  <input type="text" name="username"
	  placeholder="Username"><br>
	  <label for="password">Create Password</label>
	  <input type="password" name="password"
	  placeholder="Password"><br>
	  <label for="email">Email</label>
	  <input type="text" name="email"
	  placeholder="Email"><br>
	  <input type="submit" value="Create Account">
	</form>
</div>