<!DOCTYPE html>
<html>
	<head>
		<title>Shelter Blog</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
		<body>
			<div class="nav_bar">
				<ul>
					<li>Some Text</li>
					
				</ul>
				<h2>Shelter Blog</h2>
			</div>
		
		

			<%=yield%>
			
	
		</body>
</html>