<!DOCTYPE html>
<html>
	<head>
		<title>MicroBlog</title>
		<meta charset="utf-8">
		<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="style/style.css">
	</head>
		<body>
			<div class="nav_bar">
				<ul>
					<li>About</li>
					<li>Help</li>
					<li>Contact</li>					
				</ul>
			</div>
			<h1>MicroBlog</h1>

			<div id="main">
				</div>


		<% if flash[:notice] %>
  <div class="flash-notice">
    <%=flash[:notice] %>
  </div>
		<% end %>

		<% if flash[:alert] %>
		  <div class="flash-alert">
		    <%=flash[:alert] %>
		  </div>
		<% end %>

		
				
			
				<!-- Sign-in form, Sign-up form go here. see 'index.erb' -->
			<%=yield%>
			
	
		</body>
</html>