

<a href = "/">Logout</a>
<a href ='/profiles'>My Account</a>


<!--
  this is the new post form 
  pay special attention to the method and action attributes
  method="POST" and action="/posts" means it will go to the
  post "/posts" route defined in the app.rb file
 -->

<div id="newpost">
 <h1 id="postform">New Post Form</h1>
<form method="POST" action="/createpost">	
	<label for="body">New Post</label>
  <textarea name="message_body" cols='100' rows="10" placeholder="Comment box"></textarea><br>
	<input type="submit">c
</form>
</div>


<div id="p1">
<h1 id="mypost">My Posts</h1>
<ul class="userpostlist">
    <% @userposts.each do |post| %>
    <li><bold>Body:</bold> <%= post.body %></li>
      <li><bold>Username:</bold> <%= post.user.username %></li>
    <% end %>
</ul>
</div>

<div id="p2">
<h1 id="allpost">All Posts</h1>
<ul class="postlist">
  <% @posts.each do |post| %>
    <li><bold>Body:</bold> <%= post.body %></li>
    <li><bold>Username:</bold><% post.user.username%>
  <% end %>
</ul>
<div>




