<!-- section 1: Account
	a. edit account details
	shows user's Username, Password, Email
	Has form for updating these things
	b. delete account
section 2: All user's posts to date
section 4: Logout-->
	<!-- link to logout/end session -->

<h2>Welcome, <%= @user.username %><h2>

<a href ='/allposts'>View Posts</a>
<a herf ='/followees'>View Followees</a>


<a href = "/">Logout</a>
<a href ='/profile'>My Account</a>
<a href ='/posts/followers'>View Follewers</a>


<div id="account">
	<h2>My Account</h2>
	
	 <!-- Show each account attribute: Username, Password, First, Last  -->



<div class="edit">
	<!-- Show a form with each attribute field. If a field isn't updated, keep default value? We don't want blank fields -->
	<h2>Edit your account below</h2>
	<form method="POST" action="/profile">
		<label for="name">Username</label>
	  <input type="text" name="username"
	  placeholder="New Username"><br>
	  <label for="password">Password</label>
	  <input type="password" name="password"
	  placeholder="New Password"><br>
	  <label for="email">Email</label>
	  <input type="text" name="email"
	  placeholder="Email"><br>
	  <input type="submit" value="Update Account">
	</form>
</div>
<div class="delete">
	<!-- anchor tag to delete record. Alert user "Are you sure you want to delete your account?" -->
</div>


</div>
