<!-- section 1: Account
	a. edit account details
	shows user's Username, Password, Email
	Has form for updating these things
	b. delete account
section 2: All user's posts to date
section 4: Logout-->
	<!-- link to logout/end session -->

<h2>Welcome, <%= @user.username%><h2>	
<a href = "/">Logout</a>

<div id="account">
<div class="edit">
	<!-- embedded ruby for user's info -->
</div>
<div class="delete">
	<!-- anchor tag to delete record? how does this remove the object from the table? -->
</div>


</div>
